<div class="container">
  <div class="row">
    <div class="col">
      <!-- <app-customer-data></app-customer-data>
      <app-user-profile></app-user-profile>
      <app-template></app-template> -->
      <!-- <app-product></app-product> -->
      <!-- <app-binding-example></app-binding-example> -->
      <!-- <app-login></app-login> -->
      <!-- <app-ngfor-directives></app-ngfor-directives> -->
      <!-- <app-attr-directives></app-attr-directives> -->
      <!-- <app-directive-assignment></app-directive-assignment> -->
      <!-- <app-course></app-course> -->
      <app-parent></app-parent>
      <!-- <app-child></app-child> -->
      <!-- <app-test></app-test> -->
    </div>
  </div>
</div>
