<div class="container">
  <div class="row">
    <div class="col">
      <!-- <app-customer-data></app-customer-data>
      <app-user-profile></app-user-profile>
      <app-template></app-template> -->
      <!-- <app-product></app-product> -->
      <!-- <app-binding-example></app-binding-example> -->
      <!-- <app-login></app-login> -->
      <!-- <app-ngfor-directives></app-ngfor-directives> -->
      <!-- <app-attr-directives></app-attr-directives> -->
      <!-- <app-directive-assignment></app-directive-assignment> -->
      <!-- <app-course></app-course> -->
      <!-- <app-parent></app-parent>
      <app-child></app-child> -->
      <!-- <app-grandchild></app-grandchild> -->
      <!-- <app-root></app-root> -->
      <!-- <app-test></app-test> -->
      <!-- <app-observables></app-observables> -->
      <!-- <app-signals></app-signals> -->
      <!-- <app-ng-content></app-ng-content> -->
      <app-parent1></app-parent1>
      <app-child2></app-child2>
      <app-child1></app-child1>
    </div>
  </div>
</div>
<h1>helloooooo</h1>
