

<div class="card mb-3">
  <div class="card-header mb-3 bg-dark text-white" style="text-align: center; font-size: largenp;">User Profile</div>
  <div class="row no-gutters m-2">
    <div class="col-md-3">
      <img src="../../assets/images.jfif" alt="a image" />
    </div>
    <div class="col-md-8" style="padding-left: 2%;">
      <p>Name : Viral JAin</p>
      <p>Email : Viral.Ain@mail.com</p>
      <p>Ph : 824939827</p>
      <p>Height : 78</p>
      <p>Weight : 56</p>
    </div>
  </div>
</div>
